/* Custom CSS for base layout and home page */

/* Global (Variables for entire site) */
:root {
  --main-blue: #0047AB;
}

/* from drenglishstyle.css  */
.nav-link {	
	color: white;
	border-radius: 10px 0 10px 0;
}

.navbar-brand.nav-link:hover {
	color: var(--main-blue);
}
.nav-link:hover{
	color:var(--main-blue);
	background-color: white;


}
/* from drenglishstyle.css  */

.profile-list {
	text-align: left;
	font-size: 13px;
}

.dr-hero {
	color: white;
	height: 500px;
	padding-top: 5rem;
	background-image: url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
	background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
}



#dr-navbar {
	background-color:var(--main-blue);
}
.dr-header {
	letter-spacing: 5px;
	text-transform: uppercase;
}

main {
	margin-bottom: 5em;
}


.dr-footer {
	background-color:var(--main-blue);
	color: white;

/*	position: fixed;*/ /*This is what caused the footer to be stuck to the bottom of the viewport */
  left: 0;
  bottom: 0;
  width: 100%;
  clear:both;
  padding:20px;
  text-align: center;
}

#butto-hover {
	width: 35px;
	height: 35px;
	border: 10px solid;
	border-radius: 35px;
	margin: 0 auto;
	position: relative;
	-webkit-transition: 
		all 1s ease;
	-moz-transition:
		all: 1s ease;
	-o-transition: all
		1s ease;
	-ms-transition: all
		ease;

}

.dr-footer #foot-btn:hover {
	width: 35px;
	height: 35px;
	border: #0047AB 12px solid;
	-webkit-transition:
		all 1s ease;
	-moz-transition:
		all 1s ease;
	-o-transition: all
		1s ease;
	-ms-transition: all
		1s ease;
	transition: all 1s ease;
	position: relative;

}