.nav-link {	
	color: white;
	border-radius: 10px 0 10px 0;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 5px;

}
.nav-link:hover{
	color:#0047ab;
	background-color: white;
}
.navbar {
	background-color:#0047ab;
	color:white;
  	/* margin-bottom: 0px; negative value of footer height */
  	/* height: 30px; */
}

/* The fixed navbar covers content below. Use this spacer to push content down*/
.navbar-spacer {
    height: 50px;
}
.footer-spacer {
    height:100px;
}

#nav-logo {
	margin-top: -5px;
    height: 40px;
    width:auto;
}

.grey-title-box {
    background: #eee;
    padding: 15px;
    margin-bottom: 20px;
}


/* Profile section (Simon)  */

.profile {
	margin: 100px auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear:both;
    padding-top:20px;
    background-color: #0047ab;
    color: white;
    text-align: center;
}

.section {
	margin: 100px auto;
}

/* Profile section  */

.profile-articles {
	display: flex;
	flex-flow: wrap;
	justify-content: space-evenly;
}
.profile-article{
	background-color: #094C99;
	border-radius: 2rem 0 2rem 0;
	font-family: 'Ubuntu', sans-serif;
}
.profile-article:hover{
	box-shadow: inset 0 0 1rem 1rem #03346D;
}
.profile-header{
	display:flex;
	padding: 1rem 2rem;
	color: #fff;
	align-items: center;
}
.profile-header img{
	border-radius: 50%;
	border: 5px solid #fff;
	width: 100px;
	height: 100px;
}
.profile-header h3{
	margin-left: 20px;
	font-weight: bold;

}
.profile-text {
	background-color: #fff;
	border-radius: 15% 0 15% 0;
	margin: 10px;
	padding: 1.2rem 2rem;
}

.profile-text h6{
	font-weight: bold;
}
.profile-text li{
	font-size: 0.8rem;
}
.profile-text li p {
	margin-bottom:0;
}

.profile-3 .profile-text li {
	font-size: .7rem;
}

/* end of teacher profiles */

.readmore {
	color: #dacece;
}
.readmore:hover {
	color: white;
}

 /* CERF  */
 .level-title{
	text-align: center;
	padding: 2rem;
	font-family: 'Ubuntu', sans-serif;
 }
 .table-wrapper{
	width : 70%;
	margin: 0 auto;
 } 
 .table-thread{
	background-color: #26a7e1;
	color:#fff;
	border-bottom: .5rem solid #fff;
}
 tbody th{
	 background-color: #d7e8f2;
	 color:#0e366d;
	 font-weight: bold;
 }
 
td{
	background-color: #e6eff6;
}
th, tr, td{
	border: .3rem solid #fff;
	border-radius: 1rem;
	text-align: center;	
}
 .th-1 {
	 width: 20%;
 }
 
 .th-2 {
	width: 10%;
}
 .th-3 {
	 width: 70%;
 }

 .level-explain{
	 text-align: left;
	 background-color: #e8e8e8;
 }

/* CEO Message */
.ceo-msg{
	font-family: 'Ubuntu', sans-serif;
}

.ceo-msg-wrapper {
	width: 70%;
	margin: 0 auto;
}
.ceo-title {
	padding: 2rem;
	background-color:  #26a7e1;
	color: #fff;
	margin-top: 2rem;
	margin-bottom: 3rem;
	margin-right: 0;
	margin-left: 7rem;
	display: inline-block;

}

.ceo-msg-text{
	line-height: 2rem;
	text-align: justify;
	
}
.ceo-msg-text span{
	font-weight: bold;
	font-size: 1.2rem;

}

.toby-ceo-msg-text{
	line-height: 1.5rem;
	text-align: justify;
	
}
.toby-ceo-msg-closing {
    line-height: 2rem;
    text-emphasis: justify;
    margin-bottom: 100px;
}
.toby-ceo-msg-text span{
	font-weight: bold;
	font-size: 1.2rem;

}

.ceo-msg-text h6{
	margin: 1rem;
	margin-right: 0;
	text-align: right;
}

.ceo-msg-img img{
	border-radius: 50%;
	border: 1rem solid #e8e8e8;
	float: left;
	margin: 3rem 5rem 3rem 3rem;
}

.toby-ceo-msg-img{
    width: 20%;
    height:auto;
	float: left;
	margin: 0px 20px 10px 0px;
}

@media ( max-width : 1000px) {
	.ceo-msg-img img {
		float: none;
		display: block;
		margin: 2rem auto;
	}

	.ceo-msg-text {
		display:flex;
		flex-direction: column;
		justify-content: center;
	}
}


.faq-cell {
    margin: 40px;
}

.faq-details-cell {
    margin: 30px;
}

.faq-heading {
    font-family: 'Ubuntu', sans-serif;
}