<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="mypage/mypage.asp" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" />
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
            <mimeMap fileExtension=".nr2" mimeType="application/unKnown" />
        </staticContent>
    </system.webServer>
</configuration>  
